body {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6;
    box-sizing: border-box;
}

.my-web {
    background-image: url(images/firstbackground.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    height: 140vh;

}

/* background image */
.sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 270px;
    padding-right: 370px;
}


.contact-info a {
    padding-left: 13px;
    align-items: center;
    color: white;
    text-decoration: none;


}

.contact-info i {
    padding-top: 18px;
    margin-right: 5px;
}

.social-icons {
    color: #fff;
    padding-top: 8px;

    text-decoration: none;
}

.social-icons a {
    color: white;
    padding: 10px;
}

.mysearch {
    padding: 15px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}


/* belowtop */

/* navbar */
.my-logo {
    display: flex;
    flex-direction: row;
}

.my-content {
    padding-left: 220px;
    padding-top: 10px;
}

.nav-content ul li {
    position: relative;
    list-style-type: none;
    padding-top: 10px;
}

.nav-content ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
    display: inline-block;
    transition: color 0.3s;
}

/* Active Item */

.list-content {
    position: relative;

}

.list-content1 {
    position: relative;
    padding-left: 80px;

}

.dropdown {
    display: none;
    position: absolute;
    width: 180px;
    border: 2px solid white;
    top: 40px;
    background: rgb(194, 192, 192);
    padding-left: 0;
}

.list-content:hover .dropdown {

    display: block;
    border-top: 4px solid red;
}

.list-content:hover i {
    transform: rotate(180deg);
}

.dropdown:hover li a {
    height: 3vh;
    background-color: rgb(107, 208, 233);
    transition: 1s ease-out;
}

.dropdown li {
    height: 3vh;
    width: 8vw;
    bottom: 0;

}

.my-button {
    display: flex;
    border: 2px solid rgb(243, 87, 87);
    height: 4vh;
    width: 7vw;
    margin-top: 18px;
    margin-left: 150px;
    padding-left: 27px;
    padding-top: 10px;
    background: rgb(248, 85, 64);
    color: white;
}

/* textcontent-design */


.row {
    display: flex;
    margin-top: 80px;
}

.big-text {
    font-size: 60px;
    color: white;
    font-weight: 900;
}

.left-column {

    float: left;
    margin-left: 300px;
}

.card h6 {
    color: rgb(245, 94, 94);
    font-weight: 800;
    font-size: 15px;
}

.card p {
    color: white;
}

.right-column {
    width: 50%;
    margin-right: 350px;




}

.new-btn {
    margin-top: 70px;
}

.btn1 {
    border: 1px solid rgb(223, 89, 89);
    background: rgb(247, 59, 59);
    color: white;
    padding: 15px;
    height: 5vh;
    width: 7vw;
    margin-right: 30px;
}

.btn2 {
    border: 1px solid #0791be;
    background: #0791be;
    color: white;
    padding: 15px;
    height: 5vh;
    width: 9vw;
}

.my-form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.booking {
    background-color: #0791be;
    padding: 20px;
    color: white;
    height: 500px;
    width: 300px;
    justify-content: center;

}

.booking label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;

}

.booking .first-label {
    width: 250px;
    height: 4vh;
    margin-left: 15px;
}

.booking .second-label {
    width: 250px;
    height: 4vh;
    margin-left: 15px;
}

.booking input {
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    font-size: 14px;
}

.my-date {
    width: 250px;
    height: 4vh;
    margin-left: 15px;
}

.my-date1 {
    width: 250px;
    height: 4vh;
    margin-left: 15px;
}

.booking .btn {
    background-color: orangered;
    color: white;
    border: none;
    font-size: 14px;
    width: 270px;
    height: 5vh;
    margin-top: 10px;
    margin-left: 10px;

}

.btn:hover {
    background-color: rgb(81, 81, 185);
}

.second-bar p {
    text-align: center;
    margin-top: 90px;
    color: rgb(236, 111, 111);
    font-weight: 700;

}

.second-head {
    text-align: center;
    font-size: 40px;
    color: rgb(2, 2, 77);
    font-weight: 900;
    margin-top: 8px;
}

.lug-icon p {
    color: #0791be;
    margin-top: 0px;
    justify-content: center;

}

/* imagegallery */
.image-gallery {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.my-gallery {
    position: relative;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(209, 208, 208);
    width: 300px;
    text-align: center;
    padding: 10px;
}

.my-gallery a {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    margin: 10px;
    transition: color 0.4s;
}

.my-gallery a:hover {
    color: rgb(243, 87, 87)
}

.my-gallery img {
    height: 38vh;
    width: 15vw;
    filter: brightness(50%);
}

.my-gallery .country-name {
    margin-top: 1px;
    display: block;
    font-size: 15px;
}

.customise-icon {
    position: absolute;
    padding-left: 280px;
    top: 15px;
    right: 29px;
    color: white;
}

.btn-again {
    background-color: orangered;
    color: white;
    border: none;
    font-size: 14px;
    width: 270px;
    height: 5vh;
    margin-top: 55px;
    margin-left: 680px;

}

.btn-again:hover {
    background-color: #0791be;
}

/* gridsection */
.my-grid {
margin-top:90px;
 margin-left: 220px;
 display: grid;
 grid-template-columns: auto  auto;
}


.image-grid p {
    color:white;
    background-color: #0791be;
    height:36vh;
    width:13vw;
    font-size: 20px;
    font-weight: 900;
    text-wrap: wrap;
    padding-top: 30px;
    box-shadow: 10px 10px 10px rgb(209, 208, 208);
     border: 10px solid white;
     text-align: center;
}
.image-grid .para-btn{
    background-color: orangered;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 14px;
    width: 120px;
    height: 5vh;
    margin-top: 25px;
    margin-left: 10px;

}

.first-image img {
    position: absolute;
    width:320px;
    right:730px;   
}
.second-image img {
    position: absolute;
    width:250px;
    height:45vh;
    top:2210px;
}
.third-image img{
    position: absolute;
    right:700px;
    height:42vh;
    width:320px;
    top: 2120px;
   
}

.my-sec {
    display: flex;
}
.my-text{
    margin-left:420px;
    margin-top: 60px;
}
.my-text h6{
    color: rgb(236, 111, 111);
    font-weight: 700;
    font-size: 15px;

    
}
.my-text h3{
   color: rgb(8, 8, 36);
   font-size: 40px;
   font-weight: 900;
   line-height: 48px;
}
.logo-text{
    display: flex;
    margin-left:1px;
    gap:10px;
}
.logo-text img{
    background-color: #f56960;
    width:80px;
    height: 80px;
}
.logo-text h1{
    color:#0b2348;
    font-weight: 900;
    font-size:15px;
    margin-left: 20px;
    margin-top:-2px;
}
.logo-text p{
    margin-left:20px;
    margin-top:-2px;
}
.brands {
    display: inline-block;
     margin-top: 80px;
     margin-left: 120px;
     margin-bottom: 80px;
  
}
.brands img {
    padding-left: 80px;
}
/* package section */
.my-package {
    text-align: center;
    background-color: rgb(224, 223, 223);
}
.my-package p{
      padding-top: 80px;
}
.my-package h4{
    font-size: 40px;
    margin-top: 0;
    font-weight: 900;
    line-height: 1;
}
.pack-section{
    background-color: #dad8d8;
    text-align: center;
   
    padding-top: 100px;
}

.tour-details{
    display: flex;
    gap:10px;
    margin-left: 100px;
    height:500px;
    margin-top:50px;
}
.tour-card{
    display: flex;
   
}
.tour-image1 {
    position: relative;
    width: 200px;
   
}
.tour-image1 img {
    width: 320px;
    height: 400px;
    object-fit: cover;
    margin-left:50px;
}
.price1 {
    position: absolute;
    top: 20px;
    left: 50px;
    background: #f66;
    color: #fff;
    padding :10px;
    font-weight: bold;
    width:120px;
    font-size: 14px;
    
}
.tour-icon {
    position: absolute;
    bottom: 0px;
    background:#0085ba;
    color: #fff;
    width: 305px;
    padding: 8px;
    display: flex;
    justify-content:space-between;
    left:50px;
    margin-bottom:100px;
}
.tour-information {
    padding: 15px;
    width: 250px;
    height:370px;
    margin-left:150px;
    background-color: #fff;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
   
}
.tour-information h3{
    color:#101F46;
   
    margin-top:2px;
    font-weight: 700;
    font-size:23px;
}
.tour-information h3:hover{
    color: #0791BE;
}
.tour-information a:hover{
    color:#0791BE;
}

.tour-information a{
    color:#383838;
    font-size: 15px;
    font-weight: 600;
    margin-right:67px;
    text-decoration: none;
    padding-left: 5px;
   
     display: inline;  
}
.tour-information .booknow {
    padding-top: 200px;
}
.tour-information p{
    color:#999;
      
}

.tour-information a span{
    color:#f56960;
    font-size: 25px;
    
}

.tour-information a{
    color:#383838;
    font-size: 15px;
    font-weight: 600;
    margin-right:47px;
}
.tour-details2{
    display: flex;
    gap:10px;
    margin-left: 100px;
    max-width:1500px;
    height:500px;
 
}
.button2{
    background-color:#f56960;
    border:none;
    color:#fff;
    display: flex;
    align-items:center;
    font-size:15px;
    line-height: 1.3;
   
margin-bottom: 20px;
     padding: 20px;  
    font-weight: 600;
    margin-top:10px;
    margin-left: 650px;
    transition: color 0.3s;
    
}
.button2:hover{
    background-color: #0085ba;
 }
/* explore section */
.explore {
    background-image: url(images/firstbackground.png);
    width:100%;
    height:90vh;
    background-repeat: no-repeat;
    background-size: cover;
background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    
   filter:brightness(50%);
     position: relative;
     margin-top: 30px;
    
    
  
}
.explore .extext p {
   
    text-align: center;
    padding-top: 40px;
    color: #cd443b;
    font-weight: 600;
 filter: contrast(700%) !important;
}
.explore .extext h4 {
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 0.5;
  
    filter: contrast(1000%) !important ;
}
/* offersection */
.offer {
    text-align: center;
    margin-top: 50px;
}
.offer p {
    color:#f56960;
    font-weight: 600;
}
.offfer h1{
    color:white !important;
    font-weight: 3000;
    font-style: bold;
}
.offerinfo{
    display: flex;
    justify-content: center;
    margin-top:50px;
     gap:50px;
}

.card-image {
    position: relative;
    border:10px solid #ffffff;
   
    overflow:hidden;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
   
}
.card-image img {
    
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-left:0;
    
    filter: brightness(50%);
}
.badge-dis{
    background-color: #0791BE;
    color: #ffffff;
    font-weight: 700;
    padding: 2px 45px;
    position: absolute;
    top: 20px;
    right: -35px;
    transform: rotate(45deg);
    
}
.tour-info {
    position: absolute;
    bottom: 0px;
    font-weight: 900;
    color: #fff;
    width: 285px;
    padding: 8px;
    left:0px;
    top:280px;
       
}
.tour-info h3{
    color:#ddd;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.1;
}
.tour-info p{
    color: inherit;
    font-size: 20px;
    font-weight:bold;
    max-width: 250px;
    margin:0 4px;
    line-height: 1.1;
    transition: color 0.3s;
    font-family:"Raleway", sans-serif;
}
.tour-info p:hover{
    color: #0085ba;
}



